.page-todo {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .page {
        flex: 1;
    }

    .todo-panel {
        position: relative;
        .btn-add {
            position: absolute;
            right: 10px;
            top: 2px;
        }
    }

    .todo-list {
        .todo-item-txt {
            cursor: pointer;
        }
    }
}
